{
  "extends": [
    "eslint-config-davidtheclark-node",
    "prettier"
  ],
  "plugins": ["prettier"],
  "rules": {
    "func-names": ["error", "always"],
    "prefer-template": "error",
    "object-shorthand": [
        "error",
        "always",
        { "avoidExplicitReturnArrows": true }
    ],
    // Prettier rules
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 80,
        "tabWidth": 2
      }
    ]
  }
}
